*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1200px;
    font-family: sans-serif;
    text-decoration: none;
}

.sam-sulek-img{
    z-index: 1;
    width: 100%;
}

.promo-top{
    background-color: red;
    height: 50px;
    width: 100%;
}

.mo-footer{
    z-index: 99;
    width: 100%;
}